@import "tailwindcss";

body {
    @apply bg-black
}

.max-width {
    @apply max-w-[1200px] mx-auto
}

header nav a:hover {
    @apply text-[#31F900]
}

.btn {
    @apply px-6 py-[10px] rounded-4xl font-semibold
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #32F900;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2ad800;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #32F900 #333333;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.5%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}
